* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}


.home,
.products,
.contacts,
.messages{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}